.skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    border: 1px solid;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: azure;
}

.description {

}