.skillsBlock {
    min-height: 100vh;
    background-color: #bfeaea;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #d5cfb1;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

    border: 1px solid;
    width: 100%;
}